.header div{
    display: inline;
}
.header img{
    margin-top: 20px;
    margin-left: 30px;
    width: 20px;
}
.header{
    background-color:rgba(0, 0, 0, 1);
    width: 100%;
    grid-area: header;
}

.links{
    margin-top: 20px;
    margin-right: 10px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
}
